#edit {
	width: 1024px;
	height: 300px;
	border: 1px solid #AAAAAA;
	background: #6699CC;
}

#edit_nav {
	float: left;
}

#edit_nav_menu {
	width: 500px;
	float: left;
	margin-left: 20px;
}

#edit_nav_menu li {
	float: left;
	display: block;
	width: 90px;
	margin-right: 4px;
	overflow: hidden;
	cursor: pointer;
}

#edit_nav_menu li a {
	color: white;
}