#edit {
	width: 1024px;
	height: 900px;
	background: #6699CC;
}

#edit_nav {
	width: 100%;
	float: left;
	display: block;
}

#edit_nav_menu {
	width: 450px;
	float: left;
	padding-left: 20px;
	display: block;
}

#edit_nav_menu li {
	margin-right: 20px;
	float: left;
	width: 90px;
	overflow: hidden;
	cursor: pointer;
	float: left;
}

#edit_nav_menu li a {
	color: white;
}

#edit_nav_usertool {
	width: 250px;
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
}

#edit_nav_usertool li {
	display: inline;
	float: left;
	width: 50px;
	margin-right: 4px;
	overflow: hidden;
	cursor: pointer;
	float: left;
}

#edit_nav_usertool a {
	color: white;
}

#edit_content {
	float:left;
	width: 100%;
	display:block;;
}

#edit_content_left {
	background-color: #99CCFF;
	width: 300px;
	height: 500px;
}